extends ../base

block main
  div.course-main__container
    each course in courses
      a(href=`/course/${course._id}`)
        div.course
          img(src=course.thumbnailUrl, alt=course.title)
          div.course__text
            h1=course.title
            span=course.description
           
              