mixin Course(course)
  div.course__inner
    a(href=`/course/${course._id}`) 
      img(src=course.thumbnailUrl, alt=course.title)
    h3=course.title
    if course.description.length > 45
      p=course.description.substring(0,45) + "..."
    else 
      p=course.description
     
